{% extends "master.html" %}
{% block title %}
    Data Science - {{ subtopic.title }}
{% endblock %}
{% block content %}
<div class="container mb-5">
  <a href="#" onclick="history.back()">
  &larr;&nbsp;Back
  </a>

    <h1>{{ subtopic.title }}</h1>
    <hr>
    {% if subtopic %}
        <p id="{{subtopic.id}}">{{content | safe}}</p>
        {% if subtopic["git_repo"] %}
            <a href="{{subtopic["git_repo"]}}" class="btn btn-primary" target="_blank">View on Github</a>
            <div class="accordion my-5" id="accordionExample">
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseOne"
                    aria-expanded="false"
                    aria-controls="collapseOne"
                  >
                    See Github Content
                  </button>
                </h2>
                <div
                  id="collapseOne"
                  class="accordion-collapse collapse"
                  aria-labelledby="headingOne"
                  data-bs-parent="#accordionExample"
                >
                  <div class="accordion-body">
                    <div id="md-{{subtopic.id}}"></div>
                  </div>
                </div>
              </div>

            </div>

        {% endif %}
    {% endif %}
</div>

<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<script>
    const setReadme = (data) => {
      const readme = document.createElement("div");
      readme.innerHTML = marked.marked(data);
      const content = document.querySelector("#md-{{subtopic.id}}");
      content.appendChild(readme);
    };
    const subtopic = {{ subtopic | tojson }};
    const saturn_cloud_a = document.querySelector(".inline_disabled");
    if (saturn_cloud_a && subtopic["git_repo"]) {
      saturn_cloud_a.remove();
    }
    if (subtopic["git_repo"]) {
      const branch = subtopic["git_repo"].endsWith("lab")
        ? "solution"
        : "master";
      const git_resource = subtopic["git_repo"].replace(
        "https://github.com/",
        "https://raw.githubusercontent.com/"
      );

      fetch(`${git_resource}/${branch}/README.md`, {
        headers: {
          Accept: "application/vnd.github.v3.raw",
        },
      })
        .then((response) => response.text())
        .then((data) => {
          setReadme(data);
          fixBrokenImages();
        })
        .catch(console.error);
    }

    function fixBrokenImages() {
    console.log("Fixing broken images...")
    const images = document.querySelectorAll("img");
    images.forEach((img) => {
      if (img.src && !img.src.startsWith("https://") && subtopic["git_repo"]) {
        const to_remove = `${window.location.origin}${window.location.pathname
          .split("/")
          .slice(0, -1)
          .join("/")}`;
        const new_img_src = img.src.replace(to_remove, "");
        img.src = `${subtopic["git_repo"]}/raw/master/${new_img_src}`;
      }
    });
    console.log("Images fixed!")
  }

    const first_time = localStorage.getItem("first_time");
    if (first_time === true || first_time === null) {
        console.log(first_time);
        localStorage.setItem("first_time", false);
        if (confirm("Buy me a coffee ?😅 ")) {
            document.location.href = "https://www.buymeacoffee.com/ironf2520i";
        }
    }
</script>

{% endblock %}